<h1>
    {{title}}
</h1>
<br>
<div class="container">
    <tree-root [nodes]="nodes" (event)="onEvent($event)">
        <ng-template #treeNodeFullTemplate let-node let-index="index" let-templates="templates">
            <div class="tree-node" [class.tree-node-leaf]="node.isLeaf">
                <div class="node-wrapper">
                    <div class="node-content-wrapper" [class.active]="node.isFocused">
                        <tree-node-expander [node]="node"></tree-node-expander>
                        <label for="id">{{node.data.name}}</label>
                        <input #checkbox type="checkbox" [checked]="node.data.isChecked" (change)="nodeChecked(node, checkbox.checked)">
                    </div>
                </div>
                <tree-node-children [node]="node" [templates]="templates"></tree-node-children>
            </div>
        </ng-template>
    </tree-root>
</div>